$gray-base:              color('gray', 100) !default;
$gray-darker:            color('gray', 900) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         color('blue', 40) !default; // #337ab7
$brand-success:         color('green', 40) !default;
$brand-info:            color('magenta', 50) !default;
$brand-warning:         color('orange', 40) !default;
$brand-danger:          color('red', 40) !default;